.base-input {
  width: 100%;
  text-align: left;
}

.base-input label {
  color: #8C3264;
  display: block;
  font-weight: 600;
  font-size: .875rem;
}
.base-input input {
  border: 1px solid #281B59;
  border-radius: .25rem;
  color: #8C3264;
  padding: .5rem 1rem;
  font-size: 1rem;
  width: 100%;
}